-- Enable RLS on Better Auth tables
ALTER TABLE "user" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "session" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "account" ENABLE ROW LEVEL SECURITY;
ALTER TABLE "verification" ENABLE ROW LEVEL SECURITY;

-- Create policies for service role (full access)
CREATE POLICY "Enable all operations for service role" ON "user" FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Enable all operations for service role" ON "session" FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Enable all operations for service role" ON "account" FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Enable all operations for service role" ON "verification" FOR ALL USING (true) WITH CHECK (true);
